@media(max-width:1440px){
    .container{
        height: 780px;
        padding: 25px 26px;
    }
    .mensage{
        padding: 12px;
    }
}
@media(max-width:768px){
    .container{
        width: 670px;
        height: 820px;
    }
}
@media(max-width:425px){
    body{
        height: 100%;
        font-size: 15px;
    }
    .container{
        width: 375px;
        height: 900px;
        margin: 20px 0;
    }
    .image{
        margin-left: 10px;
    }
}
@media(max-width:375px){
    body{
        font-size: 14px;
    }
    .container{
        width: 340px;
        height: 940px;
        padding: 25px 20px;
    }
    .image{
        margin-left: 10px;
    }
}
@media(max-width:320px){
    .container{
        width: 300px;
        height: 1060px;
        padding: 20px 11px;
    }
    .header span{
        margin-left: 2px;
    }
}